{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "rules": {
    "semi": [
      "error",
      "never"
    ],
    "quotes": [
      "error", 
      "single", 
      { "allowTemplateLiterals": true }
    ],
    "eol-last": [
      "error"
    ],
    "no-unused-vars": [
      "error"
    ],
    "no-useless-return": [
      "error"
    ],
    "consistent-return": [
      "error"
    ]
  }
}